body {
    background-color: aliceblue;
}

table {
    border-collapse: collapse;
    width: 60%;
    margin: 6rem auto;
}

th {
    background-color: #5a5a5a;
    color: #f5f5f5;
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

td {
    background-color:#fff;
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

h1, h2 {
    text-align: center;
}